<h3>A list of properties</h3>
<%= for property <- @properties do %>
  <div>
    City: <%= property.city %><br />
    Suburb: <%= property.suburb %><br />
    Street: <%= property.street %><br />
  </div>
  <div>
    Pictures:
    <%= for picture <- property.pictures do %>
      <%= img_tag(static_path(@conn, "/images/properties/#{property.id}/#{picture.name}"))%>
    <% end %>
  </div>
<% end %>
<%=link('New Property', to: property_path(@conn, :new), class: "nav-link")%>
